<div>

  <h3>Formulario de registro</h3>

  <form action="">

    <label for="username">Nombre</label>
    <input type="text" name="username">

    <br>

    <label for="email">Correo Electronico</label>
    <input type="text" name="email">

    <br>

    <label for="password">Contraseña</label>
    <input type="text" name="password">

    <br>

    <button>Registro</button>


  </form>


</div>